<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="computer-cnmd">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `computer-cnmd`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComputerCnmd extends Polymer.Element {
      static get is() { return 'computer-cnmd'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'computer-cnmd'
          }
        };
      }
    }

    window.customElements.define(ComputerCnmd.is, ComputerCnmd);
  </script>
</dom-module>
