<link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Turret+Road&display=swap" rel="stylesheet">
<dom-module id="computer-styles">
  <template>
    <style>
    :host {
        display: inline-block;
        --colorDisplay: black;
        --colorFontWindow: #fff;
        --colorBoxShadow: 5px 5px 10px #333;
        --valueDisplay: none;
        --fontSize: 1.2em;
        --fontType: 'Pathway Gothic One', sans-serif;
      }
      .infoSpanSelected {
        display: block;
        font-family: var(--fontType);
        font-size: var(--fontSize);
        text-decoration: underline #000;
        padding: 1em .5em;
      }
      button:hover {
        cursor: pointer;
      }
      .team {
        font-size: var(--fontSize);
        color: rgb(63, 63, 243);
        font-family: var(--fontType);
      }
      .cells {
        font-size: var(--fontSize);
        color:rgb(104, 32, 172);
        font-family: var(--fontType);
      }
      .titleBiosC {
        font-family: var(--fontType);
        font-size: var(--fontSize);
      }
      .textLoadC{
        font-family: var(--fontType);
        font-size: var(--fontSize);
      }
      .disableElement {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
        pointer-events: none;
      }
      .display {
        display: none;
      }
      .header {
        box-shadow: 5px 5px 10px #333;
        padding: .5em .5em;
        display: grid;
        grid-template-areas: "a a . b b";
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(5, 1fr);
        background-color: #F5F3F3;
        width: 35em;
        height: 3em;
      }
      .title {
        font-family: var(--fontType);
        font-size: 1.3em;
        grid-area: a;
        height: 5em;
        text-align: center;
        justify-self: center;
      }
      .buttonsHead {
        grid-area: b;
        display: flex;
        flex-direction: row;
        align-self:flex-start;
        justify-self:flex-end;
      }
      .windowBios {
        padding: .5em .5em;
        box-shadow: var(--colorBoxShadow);
        background-color: var(--colorDisplay);
        color:var(--colorFontWindow);
        height: 25em;
        width: 35em;
      }
      @media (max-width: 600px){
        .header {
        height: 10em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: ". a a . "
                             ". b b .";
        width: 30em;
        }
        .title {
          grid-area: a;
          height: .5em;
          text-align: center;
          justify-self: center;
        }
        .buttonsHead {
          flex-direction: row;
          align-items: center;
          justify-self: center;
        }
        .windowBios {
          width: 30em;
        }
      }
    </style>
  </template>
</dom-module>
