<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../vaadin-icons/vaadin-icons.html">
<link rel="import" href="ram-component.html">
<link rel="import" href="hdd-component.html">
<link rel="import" href="processor-component.html">
<link rel="import" href="graphic-card-component.html">
<link rel="import" href="computer-styles.html">
<link rel="import" href="../paper-button/paper-button.html">
<dom-module id="computer-cnmd">
  <template>
    <style include="computer-styles">
    </style>
    <div class="header">
      <h3 class="title">Computadora de Cristian</h3>
      <div class="buttonsHead">
        <paper-button id="customButton" on-click="_customButton"> 
          <iron-icon icon="vaadin:cog-o"></iron-icon>
        </paper-button>
        <paper-button disabled>
          <iron-icon icon="vaadin:refresh"></iron-icon>
        </paper-button>
        <paper-button id="powerButton" on-click="_powerButton">
          <iron-icon icon="vaadin:power-off"></iron-icon>
        </paper-button>
      </div>
    </div>  
    <template is="dom-if" if="{{showInformation}}">
      <div class="windowBios">
        <template is="dom-if" if="{{biosWelcome}}">
              <p id="teamCells"><span class="team">Team</span> <span class="cells">Cells</span> (build 3.0)</p>
              <span class="titleBiosC">[[titleBios]]</span>
        </template>
        <template is="dom-if" if="{{titleCustomView}}">
            <p>Personaliza tu Computadora Cristian</p>
        </template>
        <ram-component 
          ram-url="{{ramUrl}}"
          message-load-ram="{{messageLoadRam}}"
          print-selected-ram="{{printSelectedRam}}"
          bios-view-ram="{{biosViewRam}}"
          custom-view="{{customView}}"
          disable-button="{{disableButton}}"
          request-data-ram="{{requestDataRam}}"
          info-custom="{{infoCustom}}"
          temporary-election="{{temporaryElection}}"
        ></ram-component>
        <hdd-component 
          hdd-url="{{hddUrl}}"
          message-load-hdd="{{messageLoadHdd}}"
          print-selected-hdd="{{printSelectedHdd}}"
          bios-view-hdd="{{biosViewHdd}}"
          custom-view="{{customView}}"
          disable-button-hdd="{{disableButtonHdd}}"
          request-data-hdd="{{requestDataHdd}}"
          info-custom="{{infoCustom}}"
        ></hdd-component>
        <processor-component 
          processor-url="{{processorUrl}}"
          message-load-processor="{{messageLoadProcessor}}"
          print-selected-processor="{{printSelectedProcessor}}"
          bios-view-processor="{{biosViewProcessor}}"
          custom-view="{{customView}}"
          disable-button-processor="{{disableButtonProcessor}}"
          request-data-processor="{{requestDataProcessor}}"
          info-custom="{{infoCustom}}"
        ></processor-component>
        <graphic-card-component 
          graphic-url="{{graphicUrl}}"
          message-load-graphic="{{messageLoadGraphic}}"
          print-selected-graphic="{{printSelectedGraphic}}"
          bios-view-graphic="{{biosViewGraphic}}"
          custom-view="{{customView}}"
          disable-button-graphic="{{disableButtonGraphic}}"
          request-data-graphic="{{requestDataGraphic}}"
          info-custom="{{infoCustom}}"
          ></graphic-card-component>
          <p id="textLoad"></p>
          <p>{{printSelectedRam}}</p>
          <p>{{printSelectedHdd}}</p>
          <p>{{printSelectedProcessor}}</p>
          <p>{{printSelectedGraphic}}</p>
        </div>
      </template>
  </template>
  <script>
    class ComputerCnmd extends Polymer.Element {
      static get is() { return 'computer-cnmd'}
      static get properties() {
        return {
          showInformation: {
            type: Boolean,
            value: false
          },
          titleBios: {
            type: String
          },
          biosWelcome: {
            type: Boolean,
            value: false
          },
          customView: {
            type: Boolean,
            value: false
          },
          biosView: {
            type: Boolean,
            value: false
          },
          urlAjax: {
            type: String
          },
          ramUrl: {
            type: String,
          },
          hddUrl: {
            type: String,
          },
          graphicUrl: {
            type: String,
          },
          processorUrl: {
            type: String,
          },
          requestData: {
            type: Array,
            notify: true
          },
          infoTextBios: {
            type: Boolean
          },
          temporaryElection: {
            type: Array
          },
          titleCustomView: {
            type: Boolean,
            value: false
          }
        }
      }
      ironAjaxRequest(urlComp, timeCustom) {
        this.urlAjax = urlComp
        return new Promise( (resolve, reject) => {
         setTimeout((timeCustom) => {
          resolve(this.$.ajaxReq.generateRequest().completes.then((res) => {
            return res.response
          }))
         }, timeCustom)
        })
      }
      _customButton() {
        this.customView = !this.customView
        // this.$.customButton.classList.add("disableElement")
        this.updateStyles({
          '--colorDisplay': '#F5F3F3',
          '--colorFontWindow': '#000'
        })
        this.printSelectedRam = ''
        this.printSelectedHdd = ''
        this.printSelectedGraphic = ''
        this.printSelectedProcessor = ''
        this.showInformation = !this.showInformation
        
        if(this.customView){
          this.$.powerButton.classList.add("disableElement")
          this.titleCustomView = true
        } else {
          this.$.customButton.classList.remove("disableElement")
          this.disableButton = !this.disableButton
          this.disableButtonHdd = !this.disableButtonHdd
          this.disableButtonGraphic = !this.disableButtonGraphic
          this.disableButtonProcessor = !this.disableButtonProcessor
          this.$.powerButton.classList.remove("disableElement")
          this.titleCustomView = !this.titleCustomView
        }
      }
      dotLoad() {
        return new Promise((resolve, reject) => {
          setTimeout(() => {
            resolve()
          }, 1000)
        })
      }
      drawDots(paramName='componente') {
        this.dotLoad()
        .then(()=> {
          this.shadowRoot.querySelector('#textLoad').innerHTML = `<span class="textLoadC">${paramName}.</span>`
          return this.dotLoad()
        })
        .then(()=> {
          this.shadowRoot.querySelector('#textLoad').innerHTML = `<span class="textLoadC">${paramName}..</span>`
          return this.dotLoad()
        })
      }
      delayWrite () {
          return new Promise((resolve, reject) => {
          setTimeout(function () {
            resolve()
          }, 3000)
        })
      }
      _powerButton() {
        this.updateStyles({
          '--colorDisplay': 'black',
          '--colorFontWindow': '#fff'
        })
        this.infoCustom = false
        this.showInformation = !this.showInformation
        this.biosWelcome = !this.biosWelcome
        this.customView = false
        if(this.showInformation) {
          this.$.customButton.classList.add("disableElement")
          this.$.powerButton.classList.add("disableElement")
          this.delayWrite().then(() => {
            this.drawDots(this.messageLoadRam)
            this.shadowRoot.querySelector('#teamCells').innerHTML = `<p id="teamCells"><span class="team">Team</span> <span class="cells">Cells</span>(build 3.0)</p>`
            this.titleBios = 'Cargando componentes del BIOS'
            return this.delayWrite()
          })
          .then((response => {
            this.drawDots(this.messageLoadHdd)
            this.biosViewRam = !this.biosViewRam
            return this.delayWrite()
          }))
          .then(response => {
            this.biosViewHdd = !this.biosViewHdd
            this.drawDots(this.messageLoadGraphic)
            return this.delayWrite()
          })
          .then(response => {
            this.biosViewGraphic = !this.biosViewGraphic
            this.drawDots(this.messageLoadProcessor)
            return this.delayWrite()
          })
          .then(response => {
            this.shadowRoot.querySelector('#textLoad').innerHTML = ''
            this.biosViewProcessor = !this.biosViewProcessor
            this.titleBios = 'Bienvenido a la BIOS'
            return this.delayWrite()
          }).then(() => {
            this.biosViewRam = !this.biosViewRam
            this.biosViewHdd = !this.biosViewHdd
            this.biosViewGraphic = !this.biosViewGraphic
            this.biosViewProcessor = !this.biosViewProcessor
            this.titleBios = ''
            this.shadowRoot.querySelector('#teamCells').innerHTML = `<p id="teamCells"><span class="team">Team</span> <span class="cells">Cells</span> (build 3.0) > </p>`
            this.$.powerButton.classList.remove("disableElement")
          }) 
        } else {
          this.$.powerButton.classList.remove("disableElement")
          this.$.customButton.classList.remove("disableElement")
        }
      }
    }

    window.customElements.define(ComputerCnmd.is, ComputerCnmd)
  </script>
</dom-module>
