<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="styles-component.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-button/paper-button.html">
<dom-module id="graphic-card-component">
  <template>
      <style include="styles-component">
      </style>
      <paper-button id="graphicButton" class="display customButton" on-click="open">TARJETA DE VIDEO</paper-button>
      <template is="dom-if" if="{{infoCustom}}">
        <template is="dom-repeat" items="{{infoSelected}}">
            <span id="selectedInformation" class="showInfoSelected">Tarjeta de Video: [[item.size]] - $[[item.price]] - proveedor: [[item.provider]]</span>
        </template>
      </template>
      <isw-dialog name="graphicDialog" data="{{requestDataGraphic}}">
        <h2>Tarjetas de Video Disponibles</h2>
        <paper-dialog-scrollable>
          <template is="dom-repeat" items="{{requestDataGraphic}}" filter="_ramFilter">
          <div class="listInfo" on-click="selectInfo">[[item.size]] - $[[item.price]] - proveedor: [[item.provider]]</div>
         </template>
        </paper-dialog-scrollable>
        <div id="dialogButtons" class="buttons disableElement">
          <paper-button on-click="cancelInfo" class="cancelButton" dialog-dismiss>Cancelar</paper-button>
          <paper-button dialog-confirm autofocus class="acceptButton" on-click="acceptInfo">Aceptar</paper-button>
        </div>
      </isw-dialog>
      <isw-dialog-remote
          id="dialogRemoteGraphic"
          dialog="graphicDialog"
          data="[[prop1]]">
      </isw-dialog-remote>
      <iron-ajax
        id="ajaxReq"
        url="[[graphicUrl]]"
        handle-as="json"
        last-response="{{data}}"
      ></iron-ajax>
    <template is="dom-if" if="{{biosViewGraphic}}">
      <template is="dom-repeat" items="{{graphicInformation}}">
        <p id="infoTextBios">Tarjeta de Video: Tamaño: [[item.size]] Titulo: [[item.title]]  Proveedor: [[item.provider]]</p>
      </template>
    </template>
  </template>

  <script>
    class GraphicCardComponent extends Polymer.Element {
      static get is() { return 'graphic-card-component'}
      static get properties() {
        return {
          graphicInformation: {
            type: Array,
            value () {
              return [
                {
                  releaseDate: "Thu Nov 20 1986 13:58:00 GMT+0000 (UTC)",
                  size: "8GB",
                  price: "4202.39",
                  overclock: "yes",
                  provider: "nvidia",
                  serial: 4713,
                  title: "1080ti"
                }
              ]
            },
            notify: true
          },
          biosViewGraphic: {
            type: Boolean,
            notify: false
          },
          customView: {
            type: Boolean,
            value: false
          },
          disableButtonGraphic: {
            type: Boolean,
            value: false,
            notify: true,
            observer: '__observerDisableButton'
          },
          customView: {
            type: Boolean,
            value: false, 
            notify: true,
            observer: '__observerCustomView'
          },
          graphicUrl: {
            type: String,
            value: 'http://www.mocky.io/v2/5d80efb33000004af28e7389',
            notify: true
          },
          requestDataGraphic: {
            type: Array,
            notify: true
          },
          infoSelected: {
            type: Array
          },
          infoCustom: {
            type: Boolean,
            value: false,
            notify: true
          },
          temporaryElection: {
            type: Array
          },
          messageLoadGraphic: {
            type: String,
            value: 'Cargando Graphic Card.',
            notify: true
          },
          printSelectedGraphic: {
            type: String,
            notify: true
          }
        }
      }
      ironAjaxRequest() {
        return new Promise( (resolve, reject) => {
         setTimeout((timeCustom) => {
          resolve(this.$.ajaxReq.generateRequest().completes.then((res) => {
            this.disableButtonGraphic = !this.disableButtonGraphic
            this.requestDataGraphic = res.response
          }))
         }, 4000)
        })
      }
      selectInfo(e) {
        let infoObject = e.model.__data.item
        this.temporaryElection = [infoObject]
        this.infoCustom = true
        this.$.dialogButtons.classList.remove("disableElement")
      }
      acceptInfo() {
        this.graphicInformation = this.temporaryElection
        this.infoSelected = this.temporaryElection
        let fntnCllbck = () => {
          return new Promise(resolve => {
            resolve()
          })
        }
        fntnCllbck()
        .then(() => {
          this.printSelectedGraphic = this.shadowRoot.querySelector('#selectedInformation').innerHTML
        })
      }
      cancelInfo() {
        this.temporaryElection = []
      }
      __observerCustomView(n, o) {
        if (n === true){
          this.$.graphicButton.classList.remove("display")
          this.ironAjaxRequest()
        } else {
          this.$.graphicButton.classList.add("display")
        }
      }
      __observerDisableButton(n, o) {
        if(n === false) {
          this.$.graphicButton.classList.add("disableElement")
        } else {
          this.$.graphicButton.classList.remove("disableElement")
        }
      }
      open() {
        this.$.dialogRemoteGraphic.open()
      }
      _ramFilter(item) {
        return item
      }
    }

    window.customElements.define(GraphicCardComponent.is, GraphicCardComponent)
  </script>
</dom-module>
