<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="styles-component.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-button/paper-button.html">
<dom-module id="hdd-component">
  <template>
      <style include="styles-component">
      </style>
      <paper-button id="hddButton" class="display customButton"  on-click="open">HDD</paper-button>
      <template is="dom-if" if="{{infoCustom}}">
        <template is="dom-repeat" items="{{infoSelected}}">
            <span id="selectedInformation" class="showInfoSelected">HDD: [[item.size]] - $[[item.price]] - [[item.speed]]</span>
        </template>
        </template>
      <isw-dialog name="hddDialog" data="{{requestDataHdd}}">
        <h2>HDD Disponibles</h2>
        <paper-dialog-scrollable>
          <template is="dom-repeat" items="{{requestDataHdd}}" filter="_ramFilter">
           <div class="listInfo" on-click="selectInfo">[[item.size]] - $[[item.price]] - [[item.speed]]</div>
         </template>
        </paper-dialog-scrollable>
        <div id="dialogButtons" class="buttons disableElement">
          <paper-button on-click="cancelInfo" class="cancelButton" dialog-dismiss>Cancelar</paper-button>
          <paper-button dialog-confirm autofocus class="acceptButton" on-click="acceptInfo">Aceptar</paper-button>
        </div>
      </isw-dialog>
      <isw-dialog-remote
          id="dialogRemoteHdd"
          dialog="hddDialog"
          data="[[prop1]]">
      </isw-dialog-remote>
      <iron-ajax
        id="ajaxReq"
        url="[[hddUrl]]"
        handle-as="json"
        last-response="{{data}}"
      ></iron-ajax>
    <template is="dom-if" if="{{biosViewHdd}}">
      <template is="dom-repeat" items="{{hddInformation}}">
        <p id="infoTextBios">HDD: Tamaño: [[item.size]]  Proveedor: [[item.provider]] Velocidad: [[item.speed]]</p>
      </template>
    </template>
  </template>

  <script>
    class HddComponent extends Polymer.Element {
      static get is() { return 'hdd-component'}
      static get properties() {
        return {
          hddInformation: {
            type: Array,
            value() {
              return [
              {
                releaseDate: "Fri Aug 07 1981 03:52:00 GMT+0000 (UTC)",
                size: "3TB",
                price: "7936.28",
                speed: "1054rpm",
                provider: "seagate",
                serial: 5411,
                title: "kingston",
                volumen: 2
              }
              ]
            },
            notify: true
          },
          biosViewHdd: {
            type: Boolean,
            notify: false
          },
          customView: {
            type: Boolean,
            value: false, 
            notify: true,
            observer: '__observerCustomView'
          },
          disableButtonHdd: {
            type: Boolean,
            value: false,
            notify: true,
            observer: '__observerDisableButton'
          },
          hddUrl: {
            type: String,
            value: 'http://www.mocky.io/v2/5d80eeb13000004cf28e737a',
            notify: true
          },
          requestDataHdd: {
            type: Array,
            notify: true
          },
          infoSelected: {
            type: Array
          },
          infoCustom: {
            type: Boolean,
            value: false,
            notify: true
          },
          temporaryElection: {
            type: Array
          },
          messageLoadHdd: {
            type: String,
            value: 'Cargando HDD.',
            notify: true
          },
          printSelectedHdd: {
            type: String,
            notify: true
          }
        }
      }
      ironAjaxRequest() {
        return new Promise( (resolve, reject) => {
         setTimeout((timeCustom) => {
          resolve(this.$.ajaxReq.generateRequest().completes.then((res) => {
            this.disableButtonHdd = !this.disableButtonHdd
            this.requestDataHdd = res.response
          }))
         }, 3000)
        })
      }
      selectInfo(e) {
        let infoObject = e.model.__data.item
        this.temporaryElection = [infoObject]
        this.infoCustom = true
        this.$.dialogButtons.classList.remove("disableElement")
      }
      acceptInfo() {
        this.hddInformation = this.temporaryElection
        this.infoSelected = this.temporaryElection
        let fntnCllbck = () => {
          return new Promise(resolve => {
            resolve()
          })
        }
        fntnCllbck()
        .then(() => {
          this.printSelectedHdd = this.shadowRoot.querySelector('#selectedInformation').innerHTML
        })
      }
      cancelInfo() {
        this.temporaryElection = []
      }
      __observerCustomView(n, o) {
        if (n === true){
          this.$.hddButton.classList.remove("display")
          this.ironAjaxRequest()
        } else {
          this.$.hddButton.classList.add("display")
        }
      }
      __observerDisableButton(n, o) {
        if(n === false) {
          this.$.hddButton.classList.add("disableElement")
        } else {
          this.$.hddButton.classList.remove("disableElement")
        }
      }
      open() {
        this.$.dialogRemoteHdd.open()
      }
      _ramFilter(item) {
        return item
      }
    }

    window.customElements.define(HddComponent.is, HddComponent)
  </script>
</dom-module>
