<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="styles-component.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-button/paper-button.html">
<dom-module id="processor-component">
  <template>
      <style include="styles-component">
      </style>
        <paper-button id="processorButton" class="display customButton" on-click="open">PROCESADOR</paper-button>
        <template is="dom-if" if="{{infoCustom}}">
          <template is="dom-repeat" items="{{infoSelected}}">
              <span id="selectedInformation" class="showInfoSelected">Procesador: [[item.cores]] - $[[item.price]] - serie: [[item.serial]]</span>
          </template>
        </template>
        <isw-dialog name="processorDialog" data="{{requestDataProcessor}}">
          <h2>Procesadores Disponibles</h2>
          <paper-dialog-scrollable>
            <template is="dom-repeat" items="{{requestDataProcessor}}" filter="_ramFilter">
            <div class="listInfo" on-click="selectInfo">[[item.cores]] - $[[item.price]] - serie: [[item.serial]]</a>
           </template>
          </paper-dialog-scrollable>
          <div id="dialogButtons" class="buttons disableElement">
            <paper-button on-click="cancelInfo" class="cancelButton" dialog-dismiss>Cancelar</paper-button>
            <paper-button dialog-confirm autofocus class="acceptButton" on-click="acceptInfo">Aceptar</paper-button>
          </div>
        </isw-dialog>
        <isw-dialog-remote
            id="dialogRemoteProcessor"
            dialog="processorDialog"
            data="[[prop1]]">
        </isw-dialog-remote>
        <iron-ajax
        id="ajaxReq"
        url="[[processorUrl]]"
        handle-as="json"
        last-response="{{data}}"
      ></iron-ajax>
     <template is="dom-if" if="{{biosViewProcessor}}">
      <template is="dom-repeat" items="{{processorInformation}}">
        <p id="infoTextBios">Procesadores: [[item.cores]]  Proveedor: [[item.provider]]  Serie: [[item.serial]]</p>
      </template>
     </template>
  </template>

  <script>
    class ProcessorComponent extends Polymer.Element {
      static get is() { return 'processor-component'}
      static get properties() {
        return {
          processorInformation: {
            type: Array,
            value() {
              return [
              {
                releaseDate: "Sat Jan 13 2007 17:08:44 GMT+0000 (UTC)",
                cores: 1,
                price: "4788.7",
                overclock: "no",
                provider: "amd",
                serial: 7003
              }
              ]
            },
            notify: true
          },
          biosViewProcessor: {
            type: Boolean,
            notify: false
          },
          disableButtonProcessor: {
            type: Boolean,
            value: false,
            notify: true,
            observer: '__observerDisableButton'
          },
          customView: {
            type: Boolean,
            value: false, 
            notify: true,
            observer: '__observerCustomView'
          },
          processorUrl: {
            type: String,
            value: 'http://www.mocky.io/v2/5d80f04630000080d28e7391',
            notify: true
          },
          requestDataProcessor: {
            type: Array,
            notify: true
          },
          infoSelected: {
            type: Array
          },
          infoCustom: {
            type: Boolean,
            value: false,
            notify: true
          },
          temporaryElection: {
            type: Array
          },
          messageLoadProcessor: {
            type: String,
            value: 'Cargando Processor.',
            notify: true
          },
          printSelectedProcessor: {
            type: String,
            notify: true
          }
        }
      }
      ironAjaxRequest() {
        return new Promise( (resolve, reject) => {
         setTimeout((timeCustom) => {
          resolve(this.$.ajaxReq.generateRequest().completes.then((res) => {
            this.disableButtonProcessor = !this.disableButtonProcessor
            this.requestDataProcessor = res.response
          }))
         }, 2000)
        })
      }
      selectInfo(e) {
        let infoObject = e.model.__data.item
        this.temporaryElection = [infoObject]
        this.infoCustom = true
        this.$.dialogButtons.classList.remove("disableElement")
      }
      acceptInfo() {
        this.processorInformation = this.temporaryElection
        this.infoSelected = this.temporaryElection
        let fntnCllbck = () => {
          return new Promise(resolve => {
            resolve()
          })
        }
        fntnCllbck()
        .then(() => {
          this.printSelectedProcessor = this.shadowRoot.querySelector('#selectedInformation').innerHTML
        })
      }
      cancelInfo() {
        this.temporaryElection = []
      }
      __observerCustomView(n, o) {
        if (n === true){
          this.$.processorButton.classList.remove("display")
          this.ironAjaxRequest()
        } else {
          this.$.processorButton.classList.add("display")
        } 
      }
      __observerDisableButton(n, o) {
        if(n === false) {
          this.$.processorButton.classList.add("disableElement")
        } else {
          this.$.processorButton.classList.remove("disableElement")
        }
      }
      open() {
        this.$.dialogRemoteProcessor.open()
      }
      _ramFilter(item) {
        return item
      }
    }

    window.customElements.define(ProcessorComponent.is, ProcessorComponent)
  </script>
</dom-module>
