<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../isw-dialog/isw-dialog.html">
<link rel="import" href="../isw-dialog/isw-dialog-remote.html">
<link rel="import" href="styles-component.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="ram-component">
  <template>
    <style include="styles-component">
    </style>
    <paper-button id="ramButton" class="display customButton" on-click="open">RAM</paper-button>
    <template is="dom-if" if="{{infoCustom}}">
      <template is="dom-repeat" items="{{infoSelected}}">
          <span id="selectedInformation" class="showInfoSelected">RAM: [[item.size]] - $[[item.price]] - [[item.serial]] - [[item.provider]]</span>
      </template>
    </template>
    <template is="dom-if" if="{{biosViewRam}}">
        <template is="dom-repeat" items="{{ramInformation}}">
            <p id="infoTextBios" >RAM: tamaño: [[item.size]]  Proveedor: [[item.provider]]  Serie: [[item.serial]]</p>
        </template>
    </template>
    <isw-dialog name="ramDialog" data="{{requestDataRam}}">
      <h2>RAM Disponibles</h2>
      <paper-dialog-scrollable>
        <template is="dom-repeat" items="{{requestDataRam}}" filter="_ramFilter">
          <div class="listInfo" on-click="selectInfo">[[item.size]] - $[[item.price]] - [[item.serial]]</div>
       </template>
      </paper-dialog-scrollable>
      <div id="dialogButtons" class="buttons disableElement">
          <paper-button on-click="cancelInfo" class="cancelButton" dialog-dismiss>Cancelar</paper-button>
          <paper-button dialog-confirm autofocus class="acceptButton" on-click="acceptInfo">Aceptar</paper-button>
      </div>
    </isw-dialog>
    <isw-dialog-remote
        id="dialogRemoteRam"
        dialog="ramDialog"
        data="[[prop1]]"
        >
    </isw-dialog-remote>
    <iron-ajax
      id="ajaxReq"
      url="[[ramUrl]]"
      handle-as="json"
      last-response="{{data}}"
    ></iron-ajax>
  </template>
  <script>
    class RamComponent extends Polymer.Element {
      static get is() { return 'ram-component'}
      static get properties() {
        return {
          ramInformation: {
            type: Array,
            value() {
              return [
              {
                releaseDate: "Mon May 31 2010 16:35:57 GMT+0000 (UTC)",
                size: "2GB",
                price: "7706.29",
                dualpack: "no",
                provider: "adata",
                serial: 3727
              }
              ]
            },
            notify: true
          },
          biosViewRam: {
            type: Boolean,
            notify: false,
          },
          customView: {
            type: Boolean,
            notify: true,
            value: false,
            observer: '__observerCustomView'
          },
          disableButton: {
            type: Boolean,
            value: false,
            notify: true,
            observer: '__observerDisableButton'
          },
          ramUrl: {
            type: String,
            value: 'http://www.mocky.io/v2/5d80f0d23000004cf28e7394',
            notify: true
          },
          requestDataRam: {
            type: Array,
            notify: true
          },
          infoSelected: {
            type: Array
          },
          infoCustom: {
            type: Boolean,
            value: false,
            notify: true
          },
          temporaryElection: {
            type: Array,
            notify:true
          },
          messageLoadRam: {
            type: String,
            value: 'Cargando RAM.',
            notify: true
          },
          printSelectedRam: {
            type: String,
            notify: true
          },

        }
      }
      ironAjaxRequest() {
        return new Promise( (resolve, reject) => {
         setTimeout((timeCustom) => {
          resolve(this.$.ajaxReq.generateRequest().completes.then((res) => {
            this.disableButton = !this.disableButton
            this.requestDataRam = res.response
          }))
         }, 1000)
        })
      }
      selectInfo(e) {
        let infoObject = e.model.__data.item
        this.temporaryElection = [infoObject]
        this.infoCustom = true
        this.$.dialogButtons.classList.remove("disableElement")
      }
      acceptInfo() {
        this.ramInformation = this.temporaryElection
        this.infoSelected = this.temporaryElection
        let fntnCllbck = () => {
          return new Promise(resolve => {
            resolve()
          })
        }
        fntnCllbck()
        .then(() => {
          this.printSelectedRam = this.shadowRoot.querySelector('#selectedInformation').innerHTML
        })
      }
      cancelInfo() {
        this.temporaryElection = []
      }
      _filterData(item) {
        return item
      }
      __observerCustomView(n, o) {
        if (n){
          this.$.ramButton.classList.remove("display")
          this.ironAjaxRequest()
        } else {
          this.$.ramButton.classList.add("display")
        }
      }
      __observerDisableButton(n, o) {
        if(n === false) {
          this.$.ramButton.classList.add("disableElement")
        } else {
          this.$.ramButton.classList.remove("disableElement")
        }
      }
      open() {
        this.$.dialogRemoteRam.open()
      }
      _ramFilter(item) {
        return item
      }
    }

    window.customElements.define(RamComponent.is, RamComponent)
  </script>
</dom-module>
