<link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Turret+Road&display=swap" rel="stylesheet">
<dom-module id="styles-component">
  <template>
    <style>
      :host {
        --colorBoxShadowButtons: 2px 2px 5px #333;
        --valueRadius: 3px;
        --fontType: 'Pathway Gothic One', sans-serif;
        --fontSize: 1.2em;
      }
      .disableElement {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
        pointer-events: none;
      }
      .display {
        display: none;
      }
      .customButton {
        
        padding: .2em .2em;
        font-size: 1em;
        color: #000;
        background-color: rgb(218, 218, 218);
      }
      .customButton:hover {
          background-color: #fff;
          box-shadow: var(--colorBoxShadowButtons);
      }
      #selectedInformation {
      display: none;
      }
      #infoTextBios{
        font-family: var(--fontType);
        font-size: var(--fontSize);
      }
      .listInfo {
        padding: 1em 1em 1em 1em;
        font-size: 1em;
      }
      .listInfo:hover {
        cursor: pointer;
        color: gray;
      }
      .showInfoSelected {
        display: block;
      }
      button {
        border-radius: 1px;
        color: #fff;
        background-color:rgb(134, 134, 134) ;
      }
      button:hover{
        cursor: pointer;
      }
      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      .buttons > paper-button{
        border-radius: 1px;
        padding: 5px 5px;
        color: #fff;
        background-color:#3F3C3C ;
      }
      .buttons > paper-button{
        cursor: pointer;
      }
      .buttons > .acceptButton {
        background-color: rgb(137, 32, 155);
        color: #fff;
        border-radius: var(--valueRadius);
        box-shadow: var(--colorBoxShadowButtons);
      }
      .buttons > .cancelButton {
        background-color: rgb(44, 32, 155);
        color: #fff;
        border-radius: var(--valueRadius);
        box-shadow: var(--colorBoxShadowButtons);
      }
      @media (max-width: 600px){
        .customButton {
        
        text-align: center;
        padding: 2% 2%;
        margin: 2px; 
        }
        .customButton:hover {
          background-color: #fff;
          box-shadow: var(--colorBoxShadowButtons);
        }
      }

    </style>
  </template>
</dom-module>
